<!DOCTYPE html>
<html>
  <head>
    <title>Subscribegem</title>
    <%= stylesheet_link_tag    "subscribegem/application", media: "all" %>
    <%= javascript_include_tag "subscribegem/application" %>
    <%= csrf_meta_tags %>
  </head>
  <body>
    <% if user_signed_in? %>
      Signed in as <%= current_user.email %>
    <% end %>
    <% flash.each do |type, message| %>
      <div class='flash <%= type %>'><%= message %></div>
    <% end %>
    <%= yield %>
  </body>
</html>
